<div class="container center">
  <h1>CONFRIM BAND</h1>
  <%= form_for @slot do |f| %>
    <div>
      <h4><%= f.label :"confirm?" %>
      <%= f.check_box :confirmed %></h4>
    </div>
    <div class="pad-top">
       <%= f.submit "Save", class: 'btn btn-success' %>
     </div>
  <% end %>
</div>