<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact form <%= @role %></h1>
    <p>
      <%= @message %>
    </p>
    <p>Please respond to <%= @name %> at <%= @email %></p> 
  </body>
</html>