<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Band Event Request</h1>
    <p>
      The venue <%= @venue %> has requested you remove. 
    </p>
  </body>
</html>