<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Band Event Request</h1>
    <p>
      The band :bandnameHere has requested to play a show at your venue. To check out the band use this link link_to /bands/:id/about .
    </p>
    <p>Thanks for using locl shows and have a great day!</p>
  </body>
</html>