<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Band Event Request</h1>
    <p>
      A band has requested to play a show at your venue on <%= @date %> at <%= @time %>. To check out the band and approve/reject, please log into <%= @url %>.
    </p>
    <p>Thanks for using locl shows and have a great day!</p>
  </body>
</html>