<div class="container center">
  
  <h1>DOUBLE DOOR </h1> 
  <p>Venue events index</p>

  <div class="row column-headers padding-top">
    <div class="col-md-2 col-md-offset-2">    
      DATE
    </div>
    <div class="col-md-3">
      EVENT TITLE
    </div>
    <div class="col-md-2">
      OPEN SLOTS
    </div>
  </div>

  <% @events.each do |event| %>
    <div class="row">
      
      <div class="col-md-2 col-md-offset-2"> 
        <div class="list-group-item">    
          <strong><%= link_to event.date, new_venue_event %></strong>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="list-group">  
          <div class="list-group-item"> 
            <div class="item-edit-delete">
              <%= link_to event.title, new_venue_event %>
            </div>
          </div> 
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="list-group">
          <div class="list-group-item"> 
            <%= link_to "OPEN", new_venue_event %>
          </div> 
        </div>
      </div>

    </div>

  <% end %>
</div>