<div class="jumbotron">
  <h1>LOCL SHOWS</h1>
  <button type="button" class="btn btn-primary btn-lg active">
    <%= link_to "Sign in", root_path %>
  </button>
  <div class="row signup">
    <button type="button" class="col-md-4 col-md-offset-2">
      <%= link_to "Venue Sign Up", root_path %>
      </button>
    <button type="button" class="col-md-4">
      <%= link_to "Band Sign Up", root_path %>
    </button>
  </div>
</div>
