<div class="container center">
  <h1>Events with open time slots</h1>
  
  <div class="row column-headers hidden-sm hidden-xs">
    <div class="col-md-2 col-offset-2">    
      DATE
    </div>
    <div class="col-md-3">   
      VENUE NAME
    </div>
    <div class="col-md-3">
      EVENT TITLE
    </div>
    <div class="col-md-2">
      OPEN SLOTS
    </div>
  </div>

  <% @listings.each do |event| %>
    <% if event.date >= Date.current() %>
      <div class="row">
        
        <div class="col-md-2 col-offset-2"> 
          <div class="list-group-item">    
            <strong><%= link_to event.date, event_path(event) %></strong>
          </div>
        </div>
        
        <div class="col-md-3">   
          <div class="list-group-item"> 
            <%= link_to event.venue.name, "/venues/#{event.venue.id}/about" %>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="list-group">  
            <div class="list-group-item"> 
              <div class="item-edit-delete">
                <%= link_to event.title, event_path(event)%>
              </div>
            </div> 
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="list-group">
            <div class="list-group-item"> 
              <%= link_to "OPEN", event_path(event) %>
            </div> 
          </div>
        </div>
      
      </div>
      
    <% end %>
  <% end %>

</div>