<%= form_for [@event, @slot] do |f| %>
        <div class ="">
          <%= f.collection_select :band_id, @bands, :id, :name %>
        </div>

        <div>
          <% f.hidden_field :approved, :value => false %>
          <% f.hidden_field :approved, :value => false %>
        </div>
        <div>
          <%= f.submit "new BOOK!" %>
        </div>
<% end %>