<div class="container center">
  <h1>Time Slot Info</h1> 
  <%= form_for [@slot,@slot_app] do |f| %>
    <div class ="">
      <%= f.collection_select :band_id, @bands, :id, :name %>
    </div>
    <div class="pad-top">
      <%= f.submit "BOOK!" %>
    </div>
  <% end %>
</div>